<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2021 KudProject Development
  ~ SPDX-License-Identifier: Apache-2.0
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.K11A"
    android:versionCode="30"
    android:versionName="11">
    <application
        android:label="FrameworkResOverlayK11A"
        android:hasCode="false" />

    <overlay
        android:targetPackage="android"
        android:isStatic="true"
        android:priority="1000" />
</manifest>
