# Copyright (C) 2021 KudProject Development
# SPDX-License-Identifier: Apache-2.0

on property:ro.boot.product.hardware.sku=pro
    enable nqnfc_2_0_hal_service
    enable secureelement-hal_1_2
    enable qti_esepowermanager_service_1_1

service nqnfc_2_0_hal_service /vendor/bin/hw/vendor.nxp.hardware.nfc@2.0-service
    override
    class hal
    user nfc
    group nfc
    disabled

service secureelement-hal_1_2 /vendor/bin/hw/vendor.qti.secure_element@1.2-service
    override
    class hal
    user system
    group system
    disabled

service qti_esepowermanager_service_1_1 /vendor/bin/hw/vendor.qti.esepowermanager@1.1-service
    override
    class hal
    user system
    group nfc system
    disabled
